<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stlye.css" />

    <%- include('non-repeating-templates/navbar.ejs'),{activeClass: activeClass,route:route} %>
    
    <main>
      <div class="container">
        <div class="ui four column centered grid">
          <% if(ListOfproducts) { %>
            <% ListOfproducts.forEach(ele => { %>
              <div class="column">
                <div class="ui centered card">
                  <div class="image">
                    <img src="<%= ele.imageUrl %>" />
                  </div>
                  <div class="content">
                    <a href="/product/<%= ele.id %>" class="header"><%= ele.title %></a>
                    <div class="description">
                      <%= ele.discription %>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="header"><%= ele.price %> $</div>
                  </div>
                  <div class="extra content">
                    <form action="/cart" method="POST">
                      <input type="hidden" name="cartId" value="<%= ele.id %>">
                      <button class="ui button" type="submit">Add to cart</button>
                      <a href="/editproduct/<%= ele.id %>">Edit</a>
                    </form>

                  </div>
                  <div class="extra content">
                    <a href="/product/<%= ele.id %>"><button class="ui secondary button">Details</button></a>
                  </div>
                </div>
              </div>
              <% }) %>
          <% } %>    
        </div>
      </div>
    </main>
  </body>
</html>
