<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stlye.css" />

    <%- include('non-repeating-templates/navbar.ejs'),{activeClass: activeClass,route:route,isloggedIn:isloggedIn} %>
    
    <main>
      <div class="container">
        <div class="ui four column centered grid">
          <% if(ListOfproducts) { %>
            <% ListOfproducts.forEach(ele => { %>
              <div class="column">
                <div class="ui centered raised stackable card">
                  <div class="ui medium fluid image">
                    <img src="<%= ele.imageUrl %>" alt="img"/>
                  </div>
                  <div class="content">
                    <a href="/product/<%= ele._id %>" class="header"><%= ele.title %></a>
                    <div class="description">
                      <%= ele.discription %>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="header"><%= ele.price %> $</div>
                  </div>
                  <div class="extra content">
                    <form action="/cart" method="POST">
                      <input type="hidden" name="cartId" value="<%= ele.id %>">
                      <button class="ui button" type="submit">Add to cart</button>
                      <a href="/editproduct/<%= ele._id %>">Edit</a>
                    </form>

                  </div>
                  <div class="extra content">
                    <a href="/product/<%= ele._id %>"><button class="ui secondary button">Details</button></a>
                    <a href="/download/<%= ele.imageUrl %>">download</a>
                  </div>
                </div>
              </div>
              <% }) %>
          <% } %>    
        </div>
          
            <a  class="ui secondary button" href="/" id="previous">Previous</a>
          
         
            <a  class="ui secondary button" href="/" id="next">Next</a>
          
      </div>
    </main>
  </body>
  <script>
    console.log(window.location.search);
    const previous = document.querySelector('#previous');
    const next = document.querySelector('#next');
    let current = 1;
    console.log(current);
    previous.addEventListener('click',()=>{
      if(current === 0) {
        next.href = `http://localhost:3000/?page=${current}`
        console.log('exit pre');
        return;
      }
      console.log('suc');
      current = current - 1;
      console.log(current);
      next.href = `http://localhost:3000/?page=${current}`
    })

    next.addEventListener('click',()=>{
      if(current === 4) {
        next.href = `http://localhost:3000/?page=${current}`
        console.log('exit next')
        return
      }
      console.log('suc');
      console.log(current);
      current = current + 1;
      next.href = `http://localhost:3000/?page=${current}`
      
    })
  </script>
</html>
